<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>This activation link is sent to you as part of 2 step verification</p>
        <p> Please, click the below link to activate your account</p>
        <a href="{{link}}">activate email</a>
    </body>
</html>